/* src/index.css */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
  height: 100%;
}